<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- IoC注解解析器-->
    <context:component-scan base-package="com.itheima.health"/>

    <!-- 支持跨域 -->
    <mvc:cors>
        <mvc:mapping path="/**"
                     allowed-origins="http://localhost:8080"
                     allowed-methods="GET, PUT,OPTIONS,POST,DELETE"
                     allow-credentials="true"
                     max-age="3600"
        />
    </mvc:cors>

    <!-- 注解驱动
 当配置了mvc:annotation-driven/后，启用注解驱动。
    然后Spring通过context:component-scan/标签的配置，
    会自动将扫描到的@Component，@Controller，@Service，@Repository等
        注解标记的组件注册到工厂中，来处理客户的请求。
    -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- 配置fastJson,自动将对象转为JSON -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json; charset=utf-8"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--dubbo配置-->
    <dubbo:application name="dubbo-oms-consumer"/>
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <dubbo:annotation package="com.itheima.health"/>

    <!--文件上传组件-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

</beans>